body {
  margin: 0px;
  font-family: "Baloo Tammudu 2", cursive;
}
:root {
  --main-bg-color: coral;
  --size: 22px;
  --size2: 24px;
}
.algoContent {
  margin-top: 10px;
  padding: 10px;
  display: none;
  border-radius: 5px;
  position: absolute;
  background-color: #053f5c;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}

.algoDropBtn {
  position: relative;
}
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.button:hover,
.button:focus {
  background-color: #ff8800;
}

.divRC {
  background-color: white;
  width: 2px;
  height: 2px;
  border: 1px solid black;
}
.divCo :hover {
  cursor: pointer;
}
nav {
  height: fit-content;
  background-color: #053f5c;
}
.viewer {
  margin: 5px;
  pointer-events: none;
  display: flex !important;
}
.keyValues {
  flex: 1;
}
.keyViewer {
  background-repeat: no-repeat;
  background-size: var(--size2);
  width: var(--size2);
  height: var(--size2);
  display: inline-block;
  margin: 5px 10px;
}
#startD {
  background-image: url(../startV3.png);
  flex: 1;
}
#endD {
  background-image: url(../stopV3.png);
}
#spaceD {
  width: var(--size2 - 2) !important;
  height: var(--size2 - 2) !important;
}

.button {
  background-color: #f7ad19;
  border: 1px solid #f7ad19;
  border-radius: 5px;
  /* margin-top: auto; */
  text-align: center;
  /* margin-left: 20px; */
  width: 100px;
  height: 40px;
  font-size: 11pt;
  cursor: pointer;
  margin: 20px 5px;
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 700;
}
.btnAlgo {
  display: block;
  width: 100%;
  margin-left: 0px;
}
.btnAlgo:hover {
  background-color: #ff8800;
}
.btn-container {
  width: fit-content;
  margin: auto;
  display: inline-block;
}
.block {
  border: 1px solid #42c6d8;
  width: var(--size);
  height: var(--size);
}
#container {
  margin: 5px auto;
  width: fit-content;
}
#container > div {
  display: inline-block;
}
#runBtn {
  margin: 5px auto !important;
  background-color: #e2770c;
  border: 1px solid #f27f0c;
  width: 110px;
  height: 50px;
}
.start {
  background-image: url(../startV3.png);
  background-size: var(--size);
  border: 1px solid black;
  animation-name: eands;
  animation-duration: 0.4s;
}
.end {
  background-image: url(../stopV3.png);
  background-size: var(--size);
  border: 1px solid black;
  animation-name: eands;
  animation-duration: 0.4s;
}
.closedSet {
  background-color: #49c6f0;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: initial;
  animation-play-state: running;

  border: 1px solid #49dcf0 !important;
}
.sDiv {
  background-color: white !important;
  animation-name: stretchsDiv;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.openSet {
  animation-name: openSet;
  animation-duration: 0.4s;
}
.wDiv {
  animation-name: stretchBlack;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 1;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: #2e2e41 !important;
  border: 1px solid #2e2e41 !important;
}
.pathDiv {
  background-color: #ffd400 !important;
  animation-name: stretchB;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 1;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  transform: translate(1);
  border: 1px solid #ffd400 !important;
}

.closedSetT {
  background-color: #49c6f0 !important;
  border: 1px solid #49dcf0 !important;
}

.pathDivT {
  background-color: #ffd400;
  border: 1px solid #ffd400;
}

.unShow {
  display: none;
}
.test {
  width: 10px;
  height: 5px;
  display: inline-block;
}
.keyContainer {
  height: 80px;
  margin: 3px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
  background-color: white;
  font-weight: 400 !important ;
}
#splitContainer {
  width: fit-content;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#btnSContainer {
  display: block;
  margin-bottom: 10px;
  background-color: #053f5c;
  text-align: center;
  height: fit-content;
}
#sContainer1 {
  display: inline-block;

  border: 2px solid black;
  border-right: 5px solid black !important;
  width: fit-content;
  position: relative;
  margin: 5px 0px;
}
#sContainer2 {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  border-left: 5px solid black !important;
  width: fit-content;
  margin: 5px 0px;
}
#sContainer1 > div {
  display: inline-block;
}

.cDiv {
  display: inline-block;
}
.wallT {
  background-color: #2e2e41;
  border: 1px solid #2e2e41 !important ;
}

@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: yellow;
    border-radius: 50%;
  }
  20% {
    transform: scale(0.7);
    background-color: rgb(84, 81, 211);
  }
  50% {
    transform: scale(1.1);
    background-color: rgb(211, 209, 129);
    border-radius: 30%;
  }
  100% {
    transform: scale(1);
    background-color: #49c6f0;
  }
}
@keyframes stretchB {
  0% {
    transform: scale(0.3);
    background-color: rgb(255, 0, 0) !important;
    border-radius: 50%;
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(97, 131, 128);
    border-radius: 30%;
  }
  100% {
    transform: scale(1);
    background-color: rgb(86, 102, 116);
  }
}
@keyframes stretchBlack {
  0% {
    transform: scale(0.3);
    background-color: white;
    border-radius: 50%;
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(95, 95, 95);
    border-radius: 30%;
  }
  100% {
    transform: scale(1);
    background-color: rgb(32, 31, 31);
    border: 1px solid #2e2e41 !important;
  }
}
@keyframes stretchsDiv {
  0% {
    transform: scale(0.5);
    background-color: white;
    border-radius: 50%;
  }
  50% {
    transform: scale(1.1);
    background-color: white;
    border-radius: 30%;
  }
  100% {
    transform: scale(1);
    background-color: white;
  }
}

@keyframes eands {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes openSet {
  0% {
    background-color: orange;
  }
  100% {
    background-color: #49c6f0;
  }
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  :root {
    --size: 18px;
    --size2: 20px;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  :root {
    --size: 14px;
    --size2: 16px;
  }
  nav {
    height: fit-content;
  }
  .button {
    height: 2rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  :root {
    --size: 10px;
    --size2: 12px;
  }
}
